<div class="row bg-light flex justify-content-center align-items-center">
  <div class="col-md-10 mt-5 text-center">

    <div class="mb-5">
      <a href="#" class="me-5 d-none d-md-inline">Home</a>
      <a href="#" class="me-5 d-none d-md-inline">About</a>
      <a href="#" class="home-font logo-color m-auto me-md-5">Logo</a>
      <a href="#" class="me-5 d-none d-md-inline">Service</a>
      <a href="#" class="me-5 d-none d-md-inline">Blog</a>
    </div>
    <div class="linha mb-5"></div>

    <div class="mb-4">
      <a href=""><i class="fa-brands fa-facebook me-3"></i></a>
      <a href=""><i class="fa-brands fa-twitter me-3"></i></a>
      <a href=""><i class="fa-brands fa-instagram me-3"></i></a>
      <a href=""><i class="fa-brands fa-youtube me-3"></i></a>
      <a href=""><i class="fa-brands fa-pinterest me-3"></i></a>
    </div>

    <div class="mb-4">
      <p>&copy;2010-2020 Privacy - Terms</p>
    </div>


  </div>

</div>