<div class="container mt-5 mb-5">
  
  <div class="text-center">
    <h2>Our Best Blogs Ever</h2>
    <p>“Try our blog to find the best tips and tricks to select your gift”</p>
  </div>

  <div class="row mt-5">

    <div class="col-md-4 pe-0 ps-0">
      <img id="img" src="assets/images/Media.png" alt=""
      class="img-fluid me-0 ms-0">
    </div>

    <div class="col-md-8 fundo text-white">
      <div class="p-5 mb-4">
        <p>Mr. John Doe</p>
        <h2 class="mt-4 margin-bottom display-5 w-auto fs-48">The best way to wish your wife</h2>
        <a class="text-decoration-none text-white-50 " id="link" href="">Read More ></a>
      </div>
    </div>

  </div>
</div>
